.main_wrapper
  .notification
    チャットグループが作成されました
  .side_bars
    = render 'shared/side_bar__top'
    = render 'shared/side_bar__bottom'
  .main_contents
    = render 'shared/main_content__top'
    = render 'shared/main_content__chat_space'
    = render 'shared/main_content__bottom'
